useDynLib(qrmtools, .registration=TRUE, .fixes="C_")


### Imports ####################################################################

## Not required anymore:
## import("xts") # for xts namespace to be loaded (e.g., for working with data sets)

importFrom("quantmod", "getSymbols",
           "Op", "Hi", "Lo", "Cl", "Vo", "Ad",
           "OpCl", "ClCl", "HiCl", "LoCl", "LoHi", "OpHi", "OpLo", "OpOp")
importFrom("Quandl", "Quandl")
importFrom("zoo", "index")
importFrom("methods", "hasArg")
importFrom("stats", "dnorm", "dt", "integrate", "pnorm", "qnorm", "qt",
           "runif", "uniroot")
importFrom("grDevices", "dev.off")


### Exports ####################################################################

export(
    ## distributions
    "dGEV", "pGEV", "qGEV", "rGEV",
    "dGPD", "pGPD", "qGPD", "rGPD",
    "dPar", "pPar", "qPar", "rPar",
    ## risk measures
    "VaR_t", "ES_t", "VaR_Par", "ES_Par",
    ## worst VaR
    "crude_VaR_bounds", "dual_bound", "VaR_bounds_hom",
    "rearrange", "RA", "ARA",
    ## Black--Scholes formula
    "Black_Scholes", "Black_Scholes_Greeks"
)

